<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <title> <%= title %> </title>
  </head>
  <body>
   <div class="col-md-12" >

    <form id="upload_form" enctype="multipart/form-data" >
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Category  name</label>
          <input type="email" class="form-control" id="category_name" name="brand_name" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">category image</label>
          <input type="file" class="form-control" id="brand_name" name="brand_image">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

   </div>
   

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->

<script>
    $(document).ready(function(){
        $("#upload_form").on("submit", function(event){
            event.preventDefault();
            var formData = new FormData(this);
            
            $.ajax({
                url:'/api/brands/update_brands/'+3,
                method:'POST',
                headers:{
                    'Authorization':'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXlsb2FkIjp7ImlkIjoxLCJuYW1lIjoiQXJpbmRhbSBEYXMifSwiaWF0IjoxNjA3OTI4MDc4fQ.Vlt5ZSZTwp6f9L-x2R-oV9Hfo3OSe9-SAQ9m4WGsgfc'
                },
                data:formData,
                dataType:'JSON',
                contentType:false,
                processData:false,
                contentType:false,
                cache:false,

                success:function(data){
                    console.log(data);
                }
            })
        })
    });
</script>

  </body>
</html>